.grid-container {
  /* the user can resize both the height and width of a <div> element */
  resize: both;
  overflow: auto;
  /* section ends */
  display: grid;
  gap: 4px;
  padding: 4px;
  border: 1px solid goldenrod;
  background-color: skyblue;
  /* grid-template-rows: 150px 150px;
  grid-template-columns: 150px 150px 150px 150px 150px; */
  grid-template-rows: repeat(2, 150px);
  grid-template-columns: repeat(5, 150px);
}

p {
  margin: 12px auto 24px;
}

img {
  height: 60px;
}
